<header>
  <div class="header-logo">
    <a href="/">VEGAN</a>
  </div>
  <ul class="header-menus">
    <li>
      <a href="/about">VEGANとは</a>
    </li>
  </ul>
</header>
<div class="about-main">
  <h2>VEGANとは</h2>
  <p>
    veganの、veganによる、veganのためのサイト。
  </p>
</div>